@model ActionCommandGame.Services.Model.Results.ItemResult
<div>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Attack</td>
        <td>@Model.Defense</td>
        <td>@Model.Fuel</td>
        <td>@Model.Price</td>
        <td><a class="btn bubbly-button" asp-controller="Shop" asp-action="Buy" asp-route-itemId="@Model.Id">Buy</a></td>
    </tr>
</div>